/* ----------------------------- Font Import */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ----------------------------- Global Styles */
* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #55433c;
}

h1,
h2,
h3,
h4 {
    font-family: "Montserrat", sans-serif;
    color: #55433c;
}

p {
    font-family: 'Source Sans 3', sans-serif;
    color: #55433c;
}

/* ----------------------------- Colors */

/* ----------------------------- Global Styles */

.text-uppercase {
    text-transform: uppercase;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.text-fine {
    font-weight: 300;
    letter-spacing: 3px;
}

/* ----------------------------- Dividers */


.divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #fff;
    border-radius: 10%;
}

.divider-pink {
    background-color: #eab29d;
}



/* ----------------------------- Navigation */

.navbar-brand {
    margin-right: 50px;
}

.nav-logo {
    max-width: 80px;
    max-height: 80px;
}

.dropdown-menu {
    border: 1px solid #eab29d;
    border-radius: 15px;
}

.dropdown-item:hover {
    background-color: #f8e4dc;
}

.navbar-light .navbar-toggler {
    color: #55433c;
    border: 0;
}

.navbar-container {

    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(255, 252, 250, 0.95);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

/* ----------------------------- Callout */

.callout-container {
    height: 100vh;

    background: url(/assets/images/clinic-desktop.png) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/* ----------------------------- Jumbotron */

.jumbotron {
    background-color: rgba(255, 252, 250, 0.8);
    border-radius: 45px;
    margin-top: 50px;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.25);
}

/* ----------------------------- Buttons */

.btn--cta {
    font-weight: 500;
    border-radius: 15px;
    width: 160px;
}

.btn--pink {
    color: #55433c;
    background-color: #eab29d;
    border-color: #eab29d;
}

.btn--pink:hover,
.btn--pink:active,
.btn--pink:focus,
.btn--pink:active:focus {
    background-color: #e6a288;
    border-color: #e6a288;
    color: #55433c;
}

.btn-lg {
    margin-bottom: 10px;
}

/* ----------------------------- Technician */

#ng-img {

    border-radius: 10px;
    margin-right: 10px;
    width: 100%;
}

.technician-container {
    height: 450px;
    margin: 10px 15px;
}

.tech--img {
    height: 450px;
}

/* ----------------------------- Footer */

footer {
    background-color: #fafafa;
}

.footer-container {}

/* ----------------------------- Media-Queries */

@media screen and (max-width: 576px) {
    .callout-container {
        height: 90vh;

        background: url(/assets/images/clinic-mobile.jpg) no-repeat bottom right fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
    }

    .jumbotron {
        margin-top: 150px;
        max-width: 80vw;
        padding: 40px;
    }
}

@media screen and (max-width: 417px) {
    .jumbotron-header {
        font-size: 2rem;
    }

    .lead {
        font-size: 1rem;
    }

    .small,
    small {
        font-size: 60%;
    }
}